_appdata_/
bin/
ClearSkyUserManual.pdf
cycle_start.cmd
directx/
gamedata.zip
installscript.vdf
levels/
License.txt
localization/
mp/
patches/
ReadMe.txt
resources/
steam_appid.txt
STEAM_serial.txt
unins000.dat
unins000.exe*
unins001.dat
unins001.exe*
user.ltx